<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
<header th:fragment="header">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <div class="menu-bar" style="background-image: linear-gradient(-90deg, #123cd3, #9f236f)">
    <nav class="navbar navbar-expand-md navbar-dark" >
        <div class="navbar-header">
            <a class="navbar-brand" href="#"><img src="/images/tidybutt-logo.png" alt="tidyButt" class="logo"></a>
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-expanded="false" aria-controls="navbarSupportedContent" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" style="padding: 10px 33px 10px 0px">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" th:href="@{/AboutUs}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/resource}">Resources</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/event}">Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/news}">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/appointments}">Appointments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/shop}">Shop</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/gallery}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/chatlogin}">Social</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Admin
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/admin/resource}">Resource</a>
                        <a class="dropdown-item" th:href="@{/admin/addEvent}">Event</a>
                        <a class="dropdown-item" th:href="@{/admin/participationAll}">Participation</a>
                        <a class="dropdown-item" th:href="@{/admin/news}">News</a>
                        <a class="dropdown-item" th:href="@{/admin/appointments}">Appointments</a>
                        <a class="dropdown-item" th:href="@{/admin/shop}">Shop</a>
                        <a class="dropdown-item" th:href="@{/admin/gallery}">Gallery</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/public/login}">Login</a>
                </li>
            </ul>
        </div>
    </nav>
    </div>

</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
</body>
</html>