<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>add_event</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <th:block th:include="fragments/common :: head"></th:block>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<div class="container">
    <form th:action="@{/admin/toAddEvent}" method="post" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Event Name</label>
        <input type="text" class="form-control" name="event_name" id="exampleFormControlInput1" placeholder="Input the event name">
        </div>
        <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Event content</label>
        <textarea class="form-control" name="event_content" id="exampleFormControlTextarea1" rows="3" placeholder="Input the event content"></textarea>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Start Date</label>
            <input type="date" class="form-control" name="startDate" id="startDate" >
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">End Date</label>
            <input type="date" class="form-control" name="endDate" id="endDate" >
        </div>

    <div class="input-group mb-3">
        <input type="file" class="form-control" name="eventimg" id="inputGroupFile02">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
        <img th:src="@{${filename}}">
        <div class="input-group mb-3">
            <input type="submit" class="btn-success" name="btn" id="submit-success" value="add this event">
        </div>
    </form>
</div>
<footer th:replace="fragments/common :: footer"></footer>
<script th:replace="fragments/common :: script"></script>
</body>
</html>