<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>allGalleryItems</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/StyleY.css}">
</head>
<body style="background-color: bisque;">
<header th:replace="fragments/headerY :: header"></header>
<!--<header th:replace="fragments/common :: navbar"></header>-->

<!--all photos-->
<h1 class="text-success" style="text-align: center">
    You can delete or permit photos to be displayed to the public in the gallery pages here</h1>
<div class="container">
    <div class="col-md-10 offset-md-1" style="height: 600px; overflow-y: scroll;" >
        <table class="table table-striped" >
            <tr><td>ID</td><td>photo</td><td>comment</td><td>flag</td><td>management</td></tr>
            <tr th:each="photo: ${g_photo}">
                <td th:text="${photo.id}"></td>
                <td>
                <a target="_blank" th:href="${photo.photoPath}" style="width: 100%;">
                    <img th:src="${photo.photoPath}" style="width: 80px; height: 50px;"
                         th:alt="${photo.photoPath}" th:title="${photo.photoPath}">
                </a>
                </td>
                <td th:text="${photo.comment}"></td>
                <td th:text="${photo.flag}"></td>
                <td>
                    <div class="row">
                        <form action='/admin/permit/photo' method = 'get'>
                            <input type = "hidden" name = "id" th:value="${photo.id}">
                            <button type = "submit" class="permit-button"> permit </button>
                        </form>
                        <form action='/admin/delete/gallery/photo' method = 'get'>
                            <input type = "hidden" name = "id" th:value="${photo.id}">
                            <button type = "submit" class="delete-button"> delete </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr>
<hr>

<!--all video-->
<h1 class="text-success" style="text-align: center">
    You can delete or permit videos to be displayed to the public in the gallery pages here</h1>
<div class="container">
    <div class="col-md-10 offset-md-1" style="height: 600px; overflow-y: scroll;" >
        <table class="table table-striped">
            <tr><td>ID</td><td>video</td><td>comment</td><td>flag</td><td>management</td></tr>
            <tr th:each="video: ${g_video}">
                <td th:text="${video.id}"></td>
                <td>
                    <video th:src="${video.galleryVideoPath}" width="80px"
                           height="100px" controls preload="none" ></video>
                </td>
                <td th:text="${video.comment}"></td>
                <td th:text="${video.flag}"></td>
                <td>
                    <div class="row">
                        <form action='/admin/permit/video' method = 'get'>
                            <input type = "hidden" name = "id" th:value="${video.id}">
                            <button type = "submit" class="permit-button"> permit </button>
                        </form>
                        <form action='/admin/delete/gallery/video' method = 'get'>
                            <input type = "hidden" name = "id" th:value="${video.id}">
                            <button type = "submit" class="delete-button"> delete </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<hr><hr>

<h1 class="text-info" style="text-align: center">
    You can delete inappropriate messages left to each photo here</h1>
<div class="container">
    <div class="col-md-10 offset-md-1" style="height: 300px; overflow-y: scroll;" >
        <table class="table table-striped" >
            <tr><td>ID</td><td>message</td><td>photoID</td><td>delete</td></tr>
            <tr th:each="photoMessage: ${g_pmessage}">
                <td th:text="${photoMessage.id}"></td>
                <td th:text="${photoMessage.message}"></td>
                <td th:text="${photoMessage.g_photoID}"></td>
                <td>
                    <div class="row">
                        <form action='/admin/delete/gallery/photoMessage' method = 'get'>
                            <input type = "hidden" name = "id" th:value="${photoMessage.id}">
                            <button type = "submit" class="delete-button"> delete </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<br>
<h1 class="text-info" style="text-align: center">
    You can delete inappropriate messages left to each video here</h1>
<div class="container">
    <div class="col-md-10 offset-md-1" style="height: 300px; overflow-y: scroll;" >
        <table class="table table-striped" >
            <tr><td>ID</td><td>message</td><td>videoID</td><td>delete</td></tr>
            <tr th:each="videoMessage: ${g_vmessage}">
                <td th:text="${videoMessage.id}"></td>
                <td th:text="${videoMessage.message}"></td>
                <td th:text="${videoMessage.g_videoID}"></td>
                <td>
                    <div class="row">
                        <form action='/admin/delete/gallery/videoMessage' method = 'get'>
                            <input type = "hidden" name = "id" th:value="${videoMessage.id}">
                            <button type = "submit" class="delete-button"> delete </button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>

<!--<div th:replace="fragments/common :: foot"></div>-->
<footer th:replace="fragments/footerY :: footer"></footer>
</body>
</html>