<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mental Health Appointments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:include="fragments/common :: head"></th:block>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<hr>
<div th:switch="${#lists.isEmpty(appointmentList)}" class="container">
    <h2 style="text-align: center">Book your appointment for a video call (24hr clock)</h2>
    <h2 th:case="true">No appointments available!</h2>
    <div class="">
        <table class="table table-bordered table-hover table-responsive-md table-responsive-lg table-responsive-sm" th:case="false">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time slots</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="appointment:${appointmentList}">
                    <td><h5 th:text="${appointment.date}"></h5></td>
                    <td>
                        <button th:each="timeslot:${appointment.value}" type="button" class="btn btn-primary btn-block" th:text="${timeslot.startTime}+' - '+${timeslot.endTime}" th:attr="onclick=|submitAppointment('${timeslot.id}',1)|">
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr>
<footer th:replace="fragments/common :: footer"></footer>
<script th:replace="fragments/common :: script"></script>
</body>
</html>