<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Social ChatRoom</title>
  <link rel="stylesheet" th:href="@{/css/main.css}" />

  <!-- https://cdnjs.com/libraries/sockjs-client -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
  <!-- https://cdnjs.com/libraries/stomp.js/ -->
  <script  src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <div th:replace="fragments/common :: head"></div>
</head>
<body>

<div id="chat-container" style="background-image: linear-gradient(-90deg, #123cd3, #9f236f)">
  <div class="chat-header" >
    <div class="user-container" >
      <span id="username" th:utext="${username}"></span>
      <a th:href="@{/logout}" class="logout-button">Logout</a>
    </div>
    <h3>Tidy Butt ChatRoom</h3>
  </div>

  <hr/>

  <div id="connecting">Loading...</div>
  <ul id="messageArea">
  </ul>
  <form id="messageForm" name="messageForm" >
    <div class="input-message">
      <label for="message">message:</label>
      <input type="text" id="message" autocomplete="off"
                                          placeholder="Type a message..."/>
      <button type="submit">Send</button>
    </div>
  </form>
</div>
<script th:src="@{/js/main.js}"></script>

</body>
</html>