<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <th:block th:include="fragments/common :: head"></th:block>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<div class="container">
    <h1 class="display-2">The Latest Events</h1>
    <div  class="row row-cols-1 row-cols-md-3 g-4">
        <div th:each="event:${events}" class="col">
            <div class="card">
                <img th:src="${event.imgpath}" class="card-img-top" th:alt="${event.event_name}">
                <div class="card-body">
                    <h5 class="card-title" th:text="${event.event_name}"></h5>
                    <p class="card-text" th:text="${event.event_content}"></p>
                    <p>start date:</p>
                    <p class="card-text" th:text="${event.startDate}"></p>
                    <p class="card-text"><h6>Participation can only be confirmed before the start time!</h6></p>
                    <button class="btn-primary" name="participate"
                            th:onclick="submitForm([[${event.event_id}]])">Participate in!
                    </button>
                </div>
            </div>
        </div>
    </div>

    </div>

</div>
<footer th:replace="fragments/common :: footer"></footer>
<script th:replace="fragments/common :: script"></script>
</body>


</html>