<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>galleryUp</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/StyleY.css}">
</head>
<body style="background-color: bisque;" onload="loadHandler()">
<header th:replace="fragments/headerY :: header"></header>
<!--<header th:replace="fragments/common :: navbar"></header>-->

<!--test to upload and add path, comment-->
<br><br><br><br><br>
<h1 style="text-align: center; color: #5b40eb">
    Thank you! <span id="owner"></span>. Your item is uploaded successfully, it will soon be displayed in the gallery after checked by the admin
</h1>
<hr>
<br><br><br><br><br>

<script>
    function loadHandler(){
        let owner = readCookie('owner');
        let s = document.createElement("span");
        s.appendChild(document.createTextNode(owner));
        document.getElementById('owner').appendChild(s);
    }

    function readCookie(owner) {
        var nameEQ = owner + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) == 0) {
                return c.substring(nameEQ.length, c.length);
            }
        }
        return null;
    }
</script>

<!--<div th:replace="fragments/common :: foot"></div>-->
<footer th:replace="fragments/footerY :: footer"></footer>
</body>
</html>