<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Message Received</title>
    <style>
        div{
            text-align: center;
        }
    </style>
    <th:block th:include="fragments/common :: head"></th:block>
</head>
<body>
<header th:replace="fragments/common :: header"></header>

<p>
    <h1>Received Message!</h1>
    <p>Thank you for contacting us. We'll get back to you shortly.</p>
</p>

<script th:replace="fragments/common :: script"></script>
</body>
</html>