<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>News</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:include="fragments/common :: head"></th:block>
    <style>
        p.hide-news {
            overflow: hidden;
            height: 50px;
        }
        p.show-news {
            overflow: visible;
        }
        body {
            background-color: #fffff0;
        }
    </style>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<hr>
<div th:switch="${#lists.isEmpty(newsList)}" class="container">
            <h2 th:case="true">No news yet!</h2>
            <div class="row" th:case="false">
                <div th:each="news:${newsList}" class="col-md-6 mt-3" >
                    <div class="card">
                        <img alt="" class="card-img-top" src="" th:alt="${news.name}" th:src="${news.imageURL}">
                        <div class="card-body bg-light">
                            <h4 class="card-title" th:text="${news.name}"></h4>
                            <p class="card-text hide-news" th:text="${news.content}" th:id="${news.id}"></p>
                            <a th:attr="onclick=|showNews(this,'${news.id}')|">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
</div>
<hr>
<footer th:replace="fragments/common :: footer"></footer>
<script th:replace="fragments/common :: script"></script>
</body>
</html>