<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        <link rel="stylesheet" href="../css/shop.css">
<!--        <link rel="stylesheet" href="../css/shards.min.css">-->

        <title>Shop</title>

        <style>

        </style>
    </head>
<body>
    <!-- Navbar Section -->
    <div class="header">
        <div class="menu-bar" style="background-image: linear-gradient(-90deg, #123cd3, #9f236f)">

            <nav class="navbar navbar-expand-lg navbar-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#"><img src="../images/tidybutt-logo.png" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="#">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Events</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">News</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="@{shop}">Shop</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{admin/shop}">Admin</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>

<!--  Hero Image  -->
    <div class="hero-image" >
        <div class="hero-text">
            <h1>Buy Our Merchandise</h1>
            <p>Support Our Cause</p>
        </div>
    </div>

<!--  Merch  -->
    <div class="container">
        <div class="merch">
            <h2 class="merch-title">Our Products</h2>
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/tidy-butt-tshirt-white-front.jpg" onmouseover="this.src='../images/tidy-butt-tshirt-white-back.jpg';" onmouseout="this.src='../images/tidy-butt-tshirt-white-front.jpg';" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tidy Butt T-shirt White</h5>
                            <p class="card-text">£15</p>

                            <button type="button" class="btn btn-dark"><a th:href="@{shop/merchpage}" style="text-decoration: none; color: white" >Get This Item</a></button>
<!--                            <a href="#" class="btn btn-dark">Get This Item</a>-->
                        </div>
                    </div>
                </div>
                    <!--  -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/tidy-butt-tshirt-black-front.jpg" onmouseover="this.src='../images/tidy-butt-tshirt-black-back.jpg';" onmouseout="this.src='../images/tidy-butt-tshirt-black-front.jpg';" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tidy Butt T-shirt Black</h5>
                            <p class="card-text">£15</p>
                            <button type="button" class="btn btn-dark"><a th:href="@{shop/merchpage}" style="text-decoration: none; color: white">Get This Item</a></button>
                        </div>
                    </div>
                </div>
                    <!--  -->
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/tidy-butt-tshirt-navy-front.jpg" onmouseover="this.src='../images/tidy-butt-tshirt-navy-back.jpg';" onmouseout="this.src='../images/tidy-butt-tshirt-navy-front.jpg';" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tidy Butt T-shirt Navy</h5>
                            <p class="card-text">£15</p>
                            <button type="button" class="btn btn-dark"><a th:href="@{shop/merchpage}" style="text-decoration: none; color: white">Get This Item</a></button>
                        </div>
                    </div>
                </div>
            </div>
        <!--  Row 2  -->
            <div class="row">
                <div class="col-md-4 col-sm-12 col-xs-12">
                    <div class="card" style="width: 18rem;">
                        <img src="../images/Tatami-Tshirt-Black-Front.jpg" onmouseover="this.src='../images/Tatami-Global-Tshirt-Black-Back.jpg';" onmouseout="this.src='../images/Tatami-Tshirt-Black-Front.jpg';" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Tidy Butt T-shirt White</h5>
                            <p class="card-text">£15</p>
                            <button type="button" class="btn btn-dark"><a th:href="@{shop/merchpage}" style="text-decoration: none; color: white">Get This Item</a></button>
                            <!--                            <a href="#" class="btn btn-dark">Get This Item</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Merchandise Modal -->
    <div class="modal fade" id="merchModal" tabindex="-1" aria-labelledby="merchModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">New message</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <!-- Item name on modal popup -->
                        <div class="mb-3">
                            <label for="item-name" class="col-form-label">Item Name:</label>
                            <input type="text" class="form-control item-name-on-modal" id="item-name" readonly>
                        </div>
                        <div class="mb-3">
                            <label for="recipient-name" class="col-form-label required">Name:</label>
                            <input type="text" class="form-control" id="recipient-name">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-email" class="col-form-label required">Email:</label>
                            <input type="email" class="form-control" id="recipient-email">
                        </div>
                        <div class="mb-3">
                            <label for="recipient-phone" class="col-form-label">Phone:(Optional)</label>
                            <input type="tel" class="form-control" id="recipient-phone">
                        </div>
<!--                        <div class="mb-3">-->
<!--                            <label for="message-text" class="col-form-label">Message:</label>-->
<!--                            <textarea class="form-control" id="message-text"></textarea>-->
<!--                        </div>-->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Send message</button>
                </div>
            </div>
        </div>
    </div>


<!--  Footer  -->
    <footer>
        <div class="social">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
        <ul class="footer-list">
            <li class="footer-link"><a href="#">Home</a></li>
            <li class="footer-link"><a href="#">Event</a></li>
            <li class="footer-link"><a href="#">News</a></li>
            <li class="footer-link"><a href="#">Shop</a></li>
        </ul>
        <p class="copyright">All Rights Reserved <span>&copy;TidyButt</span></p>
    </footer>


    <!--JavaScript Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <!-- JQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>

    <!-- Modal Popover Item Clicked -->
<!--<script>-->
<!--    $('#merchModal').on('show.bs.modal', function (event) {-->
<!--        var button = $(event.relatedTarget) // Button that triggered the modal-->
<!--        var recipient = button.data('whatever') // Extract info from data-* attributes-->
<!--        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).-->
<!--        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.-->
<!--        var modal = $(this)-->
<!--        modal.find('.modal-title').text('Get information for this item')-->
<!--        modal.find('.modal-body #item-name').val(recipient)-->
<!--    })-->
<!--</script>-->

</body>
</html>