<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>successfulRegister</title>
    <th:block th:include="fragments/common :: head"></th:block>
</head>
<body>
<header th:replace="fragments/common :: header"></header>
<h3>you have registered a new count,please click <a th:href="@{/public/login}">here</a> to login!</h3>
<footer th:replace="fragments/common :: footer"></footer>
<script th:replace="fragments/common :: script"></script>
</body>
</html>